body {
	font-family: 'Raleway', sans-serif;

    /* Car, selon la maquette du designer, il faut que le footer vienne "taper" le bas de page ! */
    margin: 30px 30px 0 30px;
}

a {
    text-decoration: none;
    color: black;
}

input {
    padding-left: 20px;
}

input::placeholder {
    color: #000000;
    opacity: 0.4;
}

fieldset {
    border: none;
}

.textNoFullWidht {
    max-width: 80%;
}
.flexHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.flexSpaceAround {
    justify-content: space-around;
}

.flexStart {
    align-items: flex-start;
}

.flexGap {
    gap: 0px 35px;
}

.flexVerticalGap {
    gap: 35px 0px;
}

.flexLowGap {
    gap: 0px 15px;
}

.flexWrap {
    flex-wrap: wrap;
}

.textNav {
    color: #000000;
    background: white;
    border-top: solid transparent 2px #0065FC;

    /** Empêche le "saut" provoqué par la border ! **/
    padding-top: 15px; 
}

.textNav:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    height: 10px;

    /** Empêche le "saut" provoqué par la border ! **/
    margin-top: -15px; 
}

.paddingLowLateral {
    padding-left: 15px;
    padding-right: 15px;
}


.flexMiddleGap {
    gap: 20px;
}

.textWhite {
    color: #FFFFFF;
}

.lowEMTitle {
    font-size: 1.25em;
}

.researchTextSize {
    font-weight: 700;
    font-size: 18px;
}

.researchIcone {      
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;

    min-width: 50px;
    min-height: 50px;
    
    line-height: 50px;
    text-align: center;

    /** Requis pour avoir une border autour du researchInput ! **/
    height: 48px;
}

.researchInput {
    text-decoration: none;
    border: none;

    text-align: center;

    color: #000000;
    border: 1px solid #F2F2F2;   

    /** Doit match avec celle de researchIcone pour avoir une border d'1px autour ! **/
    height: 48px;
}

.researchButton {
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;

    line-height: 14px;
    width: 130px;
    height: 52px;

    padding-right: 120px;
    padding-left: 15px;
}

.iconeBlue {
    color: #0065FC;
}

.iconeGrey {
    color: #F2F2F2;
}

.fontBold {
    font-weight: bold;
}


.paragrapheDrop {
    margin-bottom: 50px;
}

/** Masque la "box" du checkbox ! **/
.customCheckbox input[type="checkbox"] {
    display: none;
}

/** Colore l'icone une fois checked ! **/
.customCheckbox input[type="checkbox"]:checked ~ .filterChecked {
    color: indigo;
}

.customCheckbox:hover {
    background-color: #F2F2F2;
}

.filterButton {
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    
    font-weight: bold;
    padding-right: 15px;

    margin-top: 10px;
}

#iconeInfo {
    text-align: center; 

    width: 15px;
    height: 15px;

    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 5px 5px;

    /** line-height : 0%; est une piste de solution pour centrer l'element mais - **/ 
    /** Pour aller dans une valeur négative, j'ai trouvé ceci à la place : **/
    display: block; 
    line-height: 1.2;

    /** Pour réduire ensuite la taille de l'icone, utiliser un font-size car c'est du texte pour la machine. **/
    font-size: 0.8em;
}

.justifyContent {
    justify-content: center;
}

.mainContainerCommun {
    border-radius: 25px;
    background-color: #F2F2F2;

    height: 720px;

    padding: 10px 40px 10px 40px;
}

.hostingPictureCard {
    margin: 0px 15px 30px 15px;

    box-sizing: border-box;
    height: 260px;
}

.hostingPictureText {
    line-height: 0.8;
    padding-left: 10px;

    position: relative;
    bottom: 5px;
}

.hostingPictureBox {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.hostingPicture {
    /** "rogne" l'image dans le cadre donné sans la déformer, correspond au rendu de la maquette ! **/
    object-fit:cover;
    width: 100%;
    height: 100%;
}

.asidePictureCard {
    box-sizing: border-box;
    width: 100%;
    align-self: center;
}

.asidePicture {
    /** "rogne" l'image dans le cadre donné sans la déformer, correspond au rendu de la maquette ! **/
    object-fit:cover;
    width: 100%;
    height: 155px;
}

.asidePictureBox {
    box-sizing: border-box;

    min-width: 30%;
    max-width: 30%;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}

.asidePictureText {
    line-height: 0.9;
    padding-left: 10px;

    /* Dimension de l'asidePicture en heigh ! */
    /* Cela permet le flexSpaceBetween et donc la répartition des étoiles vers le bas. */
    min-height: 155px;
}

.activityCard {
    width: fit-content;
    height: 570px;
    margin-bottom: 10px;
}

.activityPictureBox {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.activityPicture {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.activityText {
    margin-left: 15px;
    font-size: 1em;
}

.cardShadowWhite {
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #D9D9D9;
 }

 .cardShadowWhite:hover {
    background: #D9D9D9;
    border: 5px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #D9D9D9;
 }


 .footerText {
    line-height: 0.5em;
 }

 .starAside {
    align-self: start;

    /* Pour l'esthétique ! */
    position: relative;
    bottom: 5px;
 }

.fa-magnifying-glass {
    display: none;
 }

.smallPicture {
    display: none;
}

/** ID - Ajustements ponctuels et éléments principaux ! **/

#bookiLogo {
    width: 5%;
    min-width: 80px;
}

#navMenu {
    width: 15%;
    min-width: 300px;
    font-size: 1.2em;
}

#moreContent {
    font-size: 0.9em;
    position: relative;
    top: 20px;
}

#asideMenu {
    align-items: center;
}

#chartLogo {
    font-size: 1.5em;
}

#asideTitle {
    /* Dimension des asideCards ! */
    width: 100%;
}

#activityPictureMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-items: center;

    width: fit-content;
    overflow: hidden;
}

#hostingTitle {
    /* Correspondant au padding de la classe mainContainer -5 pour l'esthétique ! */
    margin-left: 15px;
}

#footerMenu {
    background-color: #F2F2F2;

    width: 100%;
    max-width: 1920px;
    
    height: 200px;

    /* Aligne les box en "haut" et décale cette hauteur de 50px vers le bas ! */
    align-items: baseline;
    padding-top: 40px;
}

#filterMenu {
    align-items: flex-start;
}

#mainMenu {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 20px;
}

#hostingCardMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;   
    align-items: center;
}

#activityMenu {
    margin-bottom: 60px;
    margin-top: 40px;
    padding-bottom: 10px;
}

#postFilterText {
    gap: 10px;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

    - - -                                                          !! QUERY MOBILE !!                                                         - - - 
                                                                
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* Non plus rangé par catégorie (class/id) mais chronologiquement selon l'avancée du projet */

@media screen and (max-width: 768px) {

    button {
        text-align: center;
    }

    button p {
        display: none;
    }

    #headerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 120px;
    }

    /* Grossissement du logo visible entre la version desktop et mobile ! */
    #bookiLogo {
        min-width: 120px;
        width: 20%;
    }

    #navMenu {
        width: 100%;
    }

    #formTrailerText {
        font-size: 1.2em;
    }

    .textNav {

        /* Retire la bordure du haut présente sur le Desktop ! */
        border: none;

        /* Nouvelle bordure ! */
        color: #000000;
        border-bottom: solid transparent 2px #0065FC;
        width: 100%;
        margin-top: 45px;
        padding-bottom: 40px; 
        text-align: center;
    }
    
    .textNav:hover {
        border: none;
        color: #0065FC;
        border-bottom: solid 2px #0065FC;

        /* Margin en rapport à celui de la classe du dessus pour empêcher le "saut" au survol ! */
        margin-top: 30px;
    }

    .fa-magnifying-glass {
        display:inline-block;
     }

     .researchIcone {
        /** Requis pour avoir une border autour du researchInput ! **/
        height: 60px;
        width: 12.5%;
     }

     .researchButton {
        /* Il y avait un padding qui empêchait de centrer... */
        padding-right: 0px;
        padding-left: 0px;
        height: 61px;
        max-width: 45%;
     }

     .researchInput {
        text-align: start;
        height: 58px;
     }

     .researchTextSize {
        font-weight: 700;
        font-size: 0.8em;
    }

     #searchingMenu {
        font-size: 2em;
    }

    #filterMenu {
        flex-direction: column;
    }

    #iconeInfo {
        font-size: 1.2em;
        padding: 0 10px 15px 10px;
    }
    
    #mainMenu {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        max-height: none;
    }

    #hostingMenu {
        height: auto;
    }

    #hostingCardMenu {
        display: flex;
        flex-direction: column;
        min-width: 100%;
    }

    .hostingPictureCard {
        width: 100%;
        height: 300px;
    }

    #asideMenu {
        margin-top: 40px;
    }

    .mobileFontGrow {
        font-size: 1.2em;
    }

    .asidePictureText {
        padding-left: 20px;
    }

    #moreContent {
        display: none;
    }

    #activityMenu {
        width: 90%;
        height: 100%;
    }

    #hostingTitle {
        font-size: 2em;
        margin-left: 0px;
    }

    #footerMenu {
        background-color: #F2F2F2;
        flex-direction: column;
    
        width: 100%;
        height: fit-content;

        padding-left: 20%;
        gap: 20px;

        position: relative;
        right: 30px;
    }

    #activityTeaser {
        width: 30%;
    }

    #activityMenu {
        width: 90%;
    }
    
    #activityPictureMenu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 100%;
        padding: 40px;
    }

    .activityCard {
        width: 100%;
        height: 280px;
    }

    .activityPictureBox {
        width: 100%;
        height: 240px;
    }

    .activityPicture {
        width: 100%;
        height: 250px;
    }
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

    - - -                                                          !! QUERY TABLETTE !!                                                         - - - 
                                                                
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */


@media screen and (min-width:768px) and (max-width:992px) {
    #mainMenu {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2fr 0.5fr;
        gap: 20px;
    }
    
    #asideCardMenu {
        flex-direction: row;
        gap: 15px;
    }

    #asideMenu {
        margin-top: 40px;
    }
    
    .mainContainerCommun {
        max-width: fit-content;
        height: fit-content;
        padding-bottom: 20px;
        width: 90%;
    }

    .asidePictureCard {
        width: 33%;
        font-size: 0.9em;
    }

    .asidePictureBox {
        box-sizing: border-box;
        min-width: 35%;
        max-width: 35%;
    }

    .textNav:hover {
        color: #0065FC;
        border-top: none;
    }

    #hostingMenu {
        min-width: none;
        width: 100%;
    }

    .activityCard  {
        box-sizing: border-box;
        height: 320px;
    }

    .activityPicture {
        height: 300px;
    }

    .repositioningQueries {
        position: relative;
        bottom: 30px;
    }
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

    - - -                                                           ! ZONE TEST !                                                          - - - 

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* J'ai réussi à selectionner les étoiles mais ... Je ne parviens pas à les aligner vers le bas... */
/*.flexEnd div:nth-child(3) {
    align-self: flex-end;
    justify-self: flex-end;
    background: #8ebf42;
 }*/

 /*.adaptFontWeight {
    max-height: 70px;  
 }*/