/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

    - - -                                                          !! DESKTOP FIRST !!                                                         - - - 
                                                                
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* Paramètrage généraux du SITE !!                */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

body {
	font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

input {
    padding-left: 20px;
}

fieldset {
    border: none;
}

header, #researchSection, #hostingMenu, aside, article, footer {
    margin: 30px;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* TOUT CE QUI CONCERNE LE HEADER !!              */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

#bookiLogo {
    width: 80px;
}

#navMenu {
    font-size: 1.2em;
}
#navMenu * {
    width: 200px;
}

#headerMenu {
    padding-bottom: 3em;
}


/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* TOUT CE QUI CONCERNE LA BORDER NAV !!          */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

.textNav {
    text-align: center;
    width: fit-content;
}

.textNav {
    text-align: center;
    width: 50%;
}

.textNav:hover {
    color: #0065FC;
}

.textNav::before {
    content:'';
    position: absolute;
    background-color: #0065FC;
    height: 2px;
    top: 0;
    visibility: hidden;
}

.leftNavBorder::before {
    width: 140px;
}

.rightNavBorder::before {
    width: 85px;
}

.textNav:hover::before {
    visibility: visible;
} 


/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* TOUT CE QUI CONCERNE LE MOTEUR DE RECHERCHE !! */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/


#searchingMenu {
    height: 4em;
    width: 35rem;
    margin-bottom: 2em;
}

.researchIcone {
    height: 55px;
    line-height: 55px;

    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;

    width: 3em;
    text-align: center;
    font-size: larger;
}

#researchInput {

    width: 14em;
    height: 53px;
    text-decoration: none;
    border: none;

    font-size: larger;

    color: #000000;
    border: 1px solid #F2F2F2;   
}

.researchButton {
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;

    line-height: 14px;
    width: fit-content;
    width: 7em;
    height: 56px;
}

.textWhite {
    color: #FFFFFF;
}

.researchTextSize {
    font-weight: 700;
    font-size: 18px;
}

.fa-magnifying-glass {
    display: none;
 }

 button > span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    text-align: center;
 }

 #formTrailerText > h2 {
    font-weight: bold;
 }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES FLEX !!                            */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

.flexHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.flexStart {
    align-items: flex-start;
}

.flexWrap {
    flex-wrap: wrap;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES FILTERS !!                         */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

/** Masque la "box" du checkbox ! **/
.customCheckbox input[type="checkbox"] {
    display: none;
}

/** Colore l'icone une fois checked ! **/
.customCheckbox input[type="checkbox"]:checked ~ .filterChecked {
    color: indigo;
}

.customCheckbox:hover {
    background-color: #D9D9D9;
}

.filterButton {
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    
    line-height: 1em;
    font-weight: bold;
    font-size: medium;
    padding: 1em;
}

.elementsGap {
    gap: 15px; 
}

.filterIcone {
    padding: 0 10px 0 5px;
}


/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* ANNOTATION POST-FILTER !!                      */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

#iconeInfo {
    text-align: center; 

    width: 15px;
    height: 15px;

    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 5px 5px;

    display: block; 
    line-height: 1.2;
    font-size: 0.8em;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES DETAILS !!                         */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

.CardUpperText {
    line-height: 2.5em;
  }

.justifyContent {
    justify-content: center;
}

.iconeBlue {
    color: #0065FC;
}

.iconeGrey {
    color: #F2F2F2;
}

.lowEMTitle {
    font-size: 1em;
    line-height: normal;
    margin: 0 0 -5px;
}

.LowEMCardText {
    margin: 0 0 -5px;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU MAIN !!                             */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

#mainMenu {
    display: grid;
    grid-template-columns: 12fr 6fr;
    gap: 10px;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU HOSTING !!                          */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

#hostingMenu {
    border-radius: 25px;
    background-color: #F2F2F2;
    height: 720px;
    padding: 10px 40px 10px 40px;
}

#hostingCardMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;   
    align-items: center;
    gap: 15px;
}

.hostingPictureCard {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    align-self: center;
    margin: 0px 0px 30px;
}

.hostingPicture {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hostingPictureBox {
    box-sizing: border-box;

    width: 100%;
    min-height: 140px;
    max-height: 140px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.hostingPictureText {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    width: auto;
    height: 100px;

    margin-top: 5px;
    margin-bottom: 5px;

    line-height: normal;
  }

  #moreContent {
    font-weight: bolder;
    font-size: larger;
    margin-top: 70px;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES POPULARS / ASIDE !!                */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
  
#asideMenu {
    align-items: center;
    border-radius: 25px;
    background-color: #F2F2F2;

    height: 720px;

    padding: 10px 40px 10px 40px;
}

#chartLogo {
    font-size: 1.5em;
}

#asideTitle {
    width: 100%;
}

#asideCardMenu {
    gap: 35px 0px;
}

.asidePictureCard {
    box-sizing: border-box;
    width: 100%;
    align-self: center;
}

.asidePicture {
    object-position: center center;
    object-fit: cover;
    width: auto;
    height: 155px;
}

.asidePictureBox {
    box-sizing: border-box;

    min-width: 30%;
    max-width: 30%;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}

.asidePictureText {
    padding-left: 10px;

    /* Dimension de l'asidePicture en heigh ! */
    /* Cela permet le spaceBetween et donc la répartition des étoiles vers le bas. */
    height: 155px;
}

.textAsideCard {
    margin-top: 10px;
    line-height: 2.5em;
}

.starAside {
    align-self: start;

    /* Pour l'esthétique ! */
    position: relative;
    bottom: 5px;
 }

#activityMenu {
    margin-bottom: 60px;
    margin-top: 40px;
    padding-bottom: 10px;
}

#activityPictureMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-items: center;

    /* Pour l'ombre ! */
    padding: 10px;

    width: fit-content;
    overflow: hidden;
}

.activityCard {
    width: fit-content;
    height: 570px;
}

.activityPictureBox {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.activityPicture {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.activityText {
    margin-left: 15px;
    font-size: 1em;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES OMBRES DES CARDS !!                */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

.cardShadowWhite {
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #D9D9D9;
 }

 .cardShadowWhite:hover {
    background: #D9D9D9;
    border: 5px solid #D9D9D9;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #D9D9D9;
 }

 /* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  */
/* GESTION DU FOOTER !!                            */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

#footerMenu {
    background-color: #F2F2F2;
    height: 200px;

    /* Aligne les box vers le haut et décale cette hauteur de 50px vers le bas ! */
    /* Correspond au rendu maquette ! */
    align-items: baseline;
    padding: 50px 0px 50px 0px;
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

 - - -                                                          !! QUERY TABLETTE !!                                                           - - - 
                                                                
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

@media screen and (min-width:769px) and (max-width:992px) {

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* Paramètrage généraux du SITE !!                */
/* VERSION TABLETTE (modification) !!             */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    #mainMenu {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 0.5fr;
        gap: 20px;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU HEADER !!                           */
/* VERSION TABLETTE (modification) !!             */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    .textNav:hover::before {
        visibility: hidden;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION De L'HOSTING !!                        */
/* VERSION TABLETTE (modification) !!             */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    #hostingMenu {
        height: fit-content;
        padding-bottom: 20px;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES POPULARS / ASIDE !!                */
/* VERSION TABLETTE (modification) !!             */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
        
    #asideCardMenu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    #asideMenu {
        margin-top: 40px;
        height: fit-content;
        padding: 20px 20px 20px 20px;
    }

    .asidePictureCard {
        font-size: 0.9em;
        min-width: 100%;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU MENU ACTIVITY !!                    */
/* VERSION TABLETTE !!                            */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    .activityCard  {
        box-sizing: border-box;
        height: 320px;
    }

    .activityPicture {
        height: 300px;
    }

    .activityPictureBox {
        min-height: 250px;
        max-height: 250px;
    }
}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

 - - -                                                          !! QUERY MOBILE !!                                                           - - - 
                                                                
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* Paramètrage généraux du SITE !!                */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    button {
        text-align: center;
    }

    button > span {
        display: none;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU HEADER !!                           */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    #headerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 120px;
    }

    #bookiLogo {
        min-width: 120px;
    }

    #headerMenu {
        padding-bottom: 0em;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* TOUT CE QUI CONCERNE LA BORDER NAV !!          */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/


    #navMenu {
        width: 100%;
        justify-content: space-between;
    }

    .textNav {
        color: #000000;
        width: 100%;
        margin-top: 70px;
        padding-bottom: 40px; 
        text-align: center;
    }
    
    .textNav::before {
        content:'';
        position: absolute;
        background-color: #0065FC;
        width: 50%;
        height: 0.25em;
        top: 10em;
        left: 0;
    }

    .rightNavBorder::before {
        left: 50%;
    }

    .textNav:hover::before {
        visibility: visible;
    } 

    .fa-magnifying-glass {
        display: block;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* TOUT CE QUI CONCERNE LE MOTEUR DE RECHERCHE !! */
/* VERSION MOBILE (modification)                  */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

        
    #searchingMenu {
        width: 95%;
    }

    .researchIcone {
        max-width: 2em;
        min-width: 2em;
    }

    #researchInput {
        width: 90%; 
    }

     .researchButton {
        max-width: 3em;
     }

     .researchIcone {
        font-size: x-large;
     }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES FILTERS !!                         */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

     .filterButton {
        width: 12em;
     }

    #filterMenu {
        flex-direction: column;
    }

    #formTrailerText {
        font-size: larger;
    }

    #postFilterText {
        font-size: larger;
    }

    .filterIcone {
        padding: 0 5px 0 0;
        font-size: larger;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU MAIN !!                             */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    #mainMenu {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        max-height: none;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU HOSTING !!                          */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    #hostingMenu {
        height: fit-content;
        background-color: #FFFFFF;
        margin: 0;
    }

    #hostingCardMenu {
        display: flex;
        flex-direction: column;
        width: 100%;

        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-gap: 20px;
        width: 100%;
    }

    .hostingPictureCard {
        height: 280px;
    }

    .hostingPictureBox {
        min-height: 180px;
    }

    #hostingTitle {
        font-size: xx-large;
    }

    #moreContent {
        display: none;
    }

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES POPULARS / ASIDE !!                */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    #asideMenu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-gap: 20px;
        padding: 10px 40px 10px 40px;
        margin: 0;
        border-radius: 0;
    }

    .asidePictureText {
        padding-left: 20px;
    }

    .asidePicture {
        width: 100%;
    }

    .textAsideCard {
        line-height: 2em;
    }

    #asideTitle {
        width: 100%;
        font-size: larger;
    }
    
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DES ACTIVITY !!                        */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

#activityMenu {
        height: auto;
        background-color: #FFFFFF;
        border-radius: 25px;
        padding: 10px 40px 10px 40px;
        margin: 50px 0;
    }

    #activityTeaser {
        font-size: 2em;
        width: 40%;
    }

    #activityPictureMenu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-gap: 20px;
        width: 100%;
    }

    .activityCard {
        width: 100%;
        height: 280px;
    }

    .activityPictureBox {
        height: 240px;
    }

    .activityPicture {
        height: 250px;
    }


/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
/* GESTION DU FOOTER !!                           */
/* VERSION MOBILE (modification) !!               */
/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/

    #footerMenu {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-left: 40px;
        height: fit-content;
    }

    footer {
        margin: 0;
        padding: 0;
        background-color: #F2F2F2;
    }
}